!!! 5
%html
  %head
    %title #{data['name']}
    %link{rel: "shortcut icon", href: "/favicon.ico" }
    %link{href: "/bootstrap/css/bootstrap.css", rel: "stylesheet"}
    %link{href: "/bootstrap/css/bootstrap-responsive.css", rel: "stylesheet"}
    %link{href: "/css/resume.css", rel: "stylesheet"}
  %body
    .main
      %header
        %h1.name
          %img{src: "/img/hdr_name.gif", width: "310", height: "60", alt:data['name'].upcase, title:data['name'].upcase}

        %h3.title
          %img.developer{src: "/img/hdr_developer.gif", width: "130", height: "21", alt:"DEVELOPER", title:"Developer"}
          %img{src: "/img/hdr_slash.gif", width: "21", height: "21", alt:"/" }
          %img.designer{src: "/img/hdr_designer.gif", width: "112", height: "21", alt:"DESIGNER", title:"Designer"}
          %img{src: "/img/hdr_slash.gif", width: "21", height: "21", alt:"/" }
          %img.technologist{src: "/img/hdr_technologist.gif", width: "180", height: "21", alt:"TECHNOLOGIST", title:"Technologist"}

        %hr.hidden-desktop

        .contact        
          %ul
            %li
              %a{href: data['download']} 
                %img{src: "/img/ico_pdf.gif", width: "32", height: "32", alt:"Download", title: "Download" }
            %li 
              %a{:href => "mailto:#{data['contact']['email']}"}
                %img{src: "/img/ico_email2.gif", width: "32", height: "32", alt:"Email", title: "Email" }
            %li 
              %a{:href => "https://twitter.com/#{data['contact']['twitter']}"}
                %img{src: "/img/ico_twitter.gif", width: "32", height: "32", alt:"Twitter", title: "Twitter" }
            %li 
              %a{:href => "https://github.com/#{data['contact']['github']}"}
                %img{src: "/img/ico_github.gif", width: "32", height: "32", alt:"GitHub", title: "GitHub" }
            %li 
              %a{:href => "https://www.linkedin.com/in/#{data['contact']['linkedin']}"}
                %img{src: "/img/ico_linkedin.gif", width: "32", height: "32", alt:"LinkedIn", title: "LinkedIn" }

        %hr

      .content
        .exp
          %h3.title
            %img{src: "/img/hdr_experience.gif", width: "135", height: "20", alt:"EXPERIENCE", title:"Experience"}
          %ul
            - data['experience'].select{|i| i['hide'] != true}.each do |s|
              %li
                %h4.title #{s['title']}: #{s['company']}
                %span.date #{s['from']} to #{s['to']}
                %p
                  =s['desc']
          %h4.title.earlier Earlier:
          %span 
            = data['experience'].select{|i| i['hide'] == true}.collect {|i| "#{i['title']} at #{i['company']} (#{i['from']} to #{i['to']})" }.join(', ')

        .edu
          %h3.title
            %img{src: "/img/hdr_education.gif", width: "133", height: "20", alt:"EDUCATION", title:"Education"}
          %ul
            - data['education'].each do |s|
              %li
                %h4.title #{s['school']}
                %span.date #{s['from']} to #{s['to']}
                %p 
                  = s['degree'].join(', ')

        .skills
          %h3.title
            %img{src: "/img/hdr_skills.gif", width: "70", height: "20", alt:"SKILLS", title:"Skills"}
          %ul
            - data['skills'].each do |s|
              %li
                - s.each do |k,v|
                  %span.category #{k.capitalize}: 
                  %span.skills #{v.join(', ')}

      %footer
        = "&copy; #{DateTime.now.strftime('%Y')} Yoeun Pen. "
        = "Fork me on <a href='https://github.com/yoeun/yoeun.com'>GitHub</a>. "
        = "Last modified #{mtime.strftime('%d %b %Y')}"

    %script{src: "/bootstrap/js/bootstrap.js", language:"javascript"}

